// Specific CSS for your home-page

.main-container {
  display: flex;
  top: 20px;
  justify-content: space-evenly;
}

.cards-container {
 min-width: 975px;
 margin-top: 0px;
}

#map {
  flex: 0 0 450px;
  margin-top: 15px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  // overflow: hidden;
}

.filters {
  margin-left: 30px;
}
