.hideout-info {
  display: flex;
  // align-items: center;
  margin-top: 30px;
}

.hideout-description {
  margin-left: 20px;
}

.big-container {
  display: flex;
  position: relative;
  margin-left: 70px;
}

.big-container-element {
  flex: 1 1 350px;
  position: absolute;
}

.booking {
  top: 23px;
  right: -200px;
}

.info-icon {
  width: 45px;
}

.small-container {
  width: 250px;
}

.btn-full-width {
  width: 100%;
  margin-top: 10px;
  height: 48px;
  font-weight: bold;
}

.form-wrapper-custom{
  width: 450px;
  margin: 0 auto;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}
#hideout-name {
  font-size: 40px;
  padding-top: 25px;
  font-weight: bold;
}

