
<!-- Nav tabs -->
<br>
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation"><a role="tab" href="#validation">Demandes</a></li>
    <li role="presentation"><a role="tab" href="#booking">Mes Bookings</a></li>
    <li role="presentation"><a role="tab" href="#hideouts">Mes Planques</a></li>
  </ul>
</div>
<hr>


<!-- Tab panes -->
<div class="container">
  <div class="tab-content text-center">
    <div role="tabpanel" class="tab-pane active" id="validation">
      <div class="tab-title">
        <%= render 'booking_validation' %>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div role="tabpanel" class="tab-pane" id="booking">
      <div class="tab-title">
        <%= render 'booking' %>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div role="tabpanel" class="tab-pane" id="hideouts">
      <div class="tab-title">
        <%= render 'hideouts' %>
      </div>
    </div>
  </div>
</div>

