/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  background-color: $red;
}

.alert-warning {
  background: $red;
}

.notice {
  margin: 0;
  text-align: center;
  color: white;
  background-color: $green;
  padding: 12px;
}
