.card {
  position: relative !important;
  height: 100% !important;
  margin: 15px 10px;
  display: inline-block !important;
  vertical-align: top !important;
  a:hover,
  a:focus {
  text-decoration: none !important;
  }
}

.card-image {
  width: 290px;
  height: 190px;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat !important;
  border-radius: 3px !important;
  &:hover{
    opacity: 0.5;
  }
}

.card-description {
  margin-top: 10px;
  h2,
  p,
  a {
    margin: 0 !important;
    color: #222222;
  }
}

.card-name {
  h2 {
  font-size: 14px;
  }
}

.card-price {
  font-size: 16px;
  font-weight: 700;
}

.card-safety {
  font-size: 14px;
  font-weight: 400;
}
