  <%#= simple_form_for [@hideout, @booking] do |f| %>
    <%#= f.input :checkin %>
    <%#= f.input :checkout %>
    <%#= f.submit class: 'btn btn-primary' %>
  <%# end %>

<div class = "container">
  <div class = "form-wrapper" style = "width: 500px; margin: 0 auto;">
    <h1>Book this Hideout</h1>
    <%= simple_form_for :search, method: :get do |t| %>
      <%= t.input :starts_at, as: :string, input_html: { class: "datepicker"} %>
      <%= t.input :end_at, as: :string, input_html: { class: "datepicker"} %>
      <%= t.submit "Book It!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
