<article class="container">
  <h1>My Hideout</h1>
  <% @hideouts.each do |hideout|  %>
    <%= link_to hideout.name, hideout_path(hideout) %>
    <p><%= hideout.description %></p>
  <% end %>
  <div><%= link_to "Add a new hideout", new_hideout_path, type: "button", class: "btn btn-primary" %></div>
</artilce>
