// Base styles
@import "base/typography";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

footer {
  margin: 0;
  padding-top: 25px;
  text-align: center;
  vertical-align: middle;
  height: 70px;
  background-color: $gray;
  width: 100%;
  p {
    color: #888888;
    padding-top: 25px;
  }
}

.container {
  min-height: calc(100vh - 70px);
}

hr {
  border-top: 1px solid grey;
}
