<div class="container">
  <h1>New Review</h1>
  <hr>
  <%= render 'form_review', hideout: @hideout %>
  <%= link_to "Back", hideouts_path, type: "button", class: "btn btn-default text-uppercase" %>
</div>
